* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

.card {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 1096px;
  height: 200px;
  gap: 5px;
  position: relative;
}

.card img {
  border-radius: 10px;
}

.timestamp {
  position: absolute;
  top: 215px;
  left: 390px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 2px;
  padding: 2px;
}
