@keyframes slide-in-left {
  from {
    transform: translateX(-200px);
  }

  to {
    transform: translateX(0);
  }
}
.con {
  width: 300px;
  margin: 100px auto;
}

.btn {
  width: 300px;
  background-color: #c6dcba;
  color: #b3a398;
  border: 10px solid #b3a398;
  padding: 1rem;
  font-size: 3rem;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  animation-name: slide-in-left;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  /* animation-direction: reverse; */
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-30px);
  background-color: #b3a398;
  color: #fff;
}
