body {
  background-color: rgb(25, 24, 24);
}
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 80px;
}

.cube {
  z-index: -1;
  margin: 0 auto;
  transform-style: preserve-3d;
  position: relative;
  width: 500px;
  height: 500px;
  perspective: 2500px;
  animation: rotate-cube 20s infinite linear;
}

.side {
  position: absolute;
  width: 500px;
  height: 500px;
}

.front.side {
  background-color: rgba(151, 226, 207);
  transform: translateZ(250px);
}

.back.side {
  background-color: rgba(151, 226, 207);
  transform: translateZ(-250px);
}

.side.left {
  background-color: rgba(143, 230, 77);
  transform: translateX(-250px) rotateY(90deg);
}

.side.right {
  background-color: rgba(143, 230, 77);
  transform: translateX(250px) rotateY(90deg);
}

.side.top {
  background-color: rgba(230, 189, 77);
  transform: translateY(-250px) rotateX(90deg);
}

.side.bottom {
  background-color: rgba(230, 189, 77);
  transform: translateY(250px) rotateX(90deg);
}

@keyframes rotate-cube {
  0% {
    transform: rotateX(45deg) rotateY(45deg);
  }

  25% {
    transform: rotateX(-45deg) rotateY(45deg);
  }

  50% {
    transform: rotateX(-45deg) rotateY(-45deg);
  }

  75% {
    transform: rotateX(45deg) rotateY(-45deg);
  }

  100% {
    transform: rotateX(45deg) rotateY(45deg);
  }
}
